body{
    margin: 0px;
}
header{
    display: flex;
    top:0;
    width: 100%;
    background-color:blue;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    color:rgb(255, 255, 255);
    padding: 10px;
}
nav a{
    padding: 10px 25px;
    text-decoration: none;
    color: red;
}
section.home{
    background: url("https://awsimages.detik.net.id/community/media/visual/2022/04/27/ilustrasi-restoran-1_169.jpeg?w=1200");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 600px;
    padding-top: 100px;
}
section.home div{
    text-align: center;
    color: azure;
    margin: auto;
    width: 70%;
    padding: 20px;
    font-size: large;
}
section.home .welcome{
    font-size: 30px;
}
section.home a{
    color:orangered;
    padding: 10px 20px;
    text-decoration: none;
    box-shadow: 0px 0px 3px;
    border-radius: 20px;
}
section.about{
    background-color: grey;
    height: 600px;
    background-color: rgb(255, 253, 163);
    height: 600px;
    padding-top: 100px;
}
section.about div{
    color:rebeccapurple;
    text-align: center;
    margin:auto;
    width:70%;
}
section.about img{
    height: 200px;
}
section.product{
    background: url("");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
section.product .container{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    background: url("https://cdns.klimg.com/kapanlagi.com/p/restaurant237060_1920.jpg");
    height: 1200px;
}
section.product .container .card{
    background-color: white;
    text-align: center;
    padding: 5px;
    width: 200px;
    height: 500px;
    margin: 15px;
}
section.product .container .card img{
    width: 100%;
    height: 200px;
}
section.product .container .card a{
    color:black;
    padding: 5px 20px;
    text-decoration: none;
    box-shadow: 0px 0px 3px;
    border-radius: 20px;
}
section.contact{
    background-color:rgb(219, 124, 14);
    height: 600px;
}
section.contact .card {
    margin: auto;
    color:brown;
    text-align: center;
    padding-top: 100px;
    width: 400px;
}
section.contact .card img{
    width: 200px;
}
footer{
    background-color:green;
    height: 50px;
}
footer .medsos{
    text-align: center;
    padding-top: 10px;
}
footer .medsos a{
    color:azure;
    font-size: 20px;
    padding: 5px 20px;
}